<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '320px' }">
        <mat-toolbar class="smaller-size open-toolbar">
            
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>navigate_before</mat-icon>
            </button>

            <div>
                <img src="../../../../assets/logo.png" alt="">
                <div>
                    <span class="title-font">
                        SUPERPEDIA,
                        <small>Tus héroes online</small>
                    </span>
                    <span class="spacer"></span>
                </div>
            </div>
            
        </mat-toolbar>
        
        <div class="separator"></div>
        <span class="text-lg font-general">GENERAL</span>
        
        <mat-nav-list class="menu-bar-floating">
            <div>
                <mat-list-item class="list-item" *ngFor="let item of sidebarItems" [routerLink]="item.url" (click)="sidenav.toggle()">
                    <div>
                        <mat-icon>{{ item.icon }}</mat-icon>
                        <p>{{ item.label }}</p>
                    </div>
                </mat-list-item>
            </div>
            
            <div>
                <div class="separator"></div>
                <a mat-list-item class="list-item" href="https://nuriaoujo.github.io/my-portfolio/" target="_blank">
                    <div>
                        <mat-icon class="material-icons">alternate_email</mat-icon>
                        <p>Contacto</p>
                    </div>
                </a>
                <mat-list-item class="list-item">
                    <div>
                        <mat-icon>logout</mat-icon>
                        <p>Cerrar Sesión</p>
                    </div>
                </mat-list-item>
                <div class="icons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-twitch"></i>
                </div>
            </div>
        </mat-nav-list>
        
        <small>Copyright &copy;2024 All rights reserved </small>
            
    </mat-sidenav>

    <mat-toolbar class="closed-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <div>
            <span>{{ user?.email }}</span>
            <button class="btn-opacity-0 btn-border-main" (click)="onLogout()">
                Cerrar Sesión
            </button>
        </div>
    </mat-toolbar>

    <div>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>