<div class="background-2">
    <div class="overflow-hidden ms:overflow-auto">
        <h1 class="py-6 sm:pl-6 pl-4 title-hero-page">
            {{ currentHero.id ? 'Edita a' : 'Agrega un nuevo Héroe,' }}
            <span *ngIf="currentHero.id">{{ currentHero.superhero }},</span>
        </h1>
        
        <mat-divider class="mb-2"></mat-divider>
        <div>

            <mat-card class="mat-card-form">

                <mat-card-content class="mat-card-content-form">
                    <div class="container">
                        <form class="grid m-1" [formGroup]="heroForm" (ngSubmit)="onSubmit()">

                            <input
                                type="text"
                                class="col-12 sm:col-6 input-style "
                                placeholder="Super Héroe*"
                                formControlName="superhero"
                                required
                            >
                            <!-- <mat-form-field appearance="outline" class="col-12 sm:col-6">
                                <mat-label>Super Héroe</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    required
                                    formControlName="superhero">
                            </mat-form-field> -->

                            <input
                                type="text"
                                class="col-12 sm:col-6 input-style"
                                placeholder="Alter Ego*"
                                formControlName="alter_ego"
                                required
                            >

                            <!-- <mat-form-field appearance="outline" class="col-12 sm:col-6">
                                <mat-label>Alter Ego</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    required
                                    formControlName="alter_ego">
                            </mat-form-field> -->

                            <input
                                type="text"
                                class="input-style col-12"
                                placeholder="Primera Aparición*"
                                formControlName="first_appearance"
                                required
                            >
        
                            <!-- <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Primera Aparición</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    required
                                    formControlName="first_appearance">
                            </mat-form-field> -->

                            <input
                                type="text"
                                class="input-style col-12"
                                placeholder="Personajes*"
                                formControlName="characters"
                                required
                            >
        
                            <!-- <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Personajes</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    required
                                    formControlName="characters">
                            </mat-form-field> -->

                            <mat-form-field class="w-full">
                                <mat-select
                                    formControlName="publisher"
                                    required class="option-style">
                                    <mat-option
                                        *ngFor="let publisher of publishers"
                                        [value]="publisher.id"
                                        >
                                        {{ publisher.desc}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <input
                                type="text"
                                class="input-style col-12"
                                placeholder="Alternative Image*"
                                formControlName="alt_img"
                                required
                            >

                            <!-- <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Alternative Image</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    required
                                    formControlName="alt_img">
                            </mat-form-field> -->

                        </form>
        
                        <div class="flex justify-content-end flex-wrap mr-2">
                            <button
                                *ngIf="currentHero.id"
                                class="btn btn-dark px-4 mr-4"
                                (click)="onDeleteHero()">
                                Borrar
                            </button>
                
                            <button
                                class="btn btn-main"
                                (click)="onSubmit()"
                            >
                                <mat-icon>save</mat-icon>
                                Guardar
                            </button>
        
                        </div>
                    </div>

                    <div class="col-12 sm:col-6">
                        <img class="mat-card-img" [src]="currentHero | heroImage" alt="imagen del héroe">
                    </div>
    
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>