<div>
    <mat-card>
        <mat-card-content>
            <div class="flex flex-column">
                <span class="text-lg text-center mb-4">Inicio de Sesión</span>


                <input type="text" class="input-style" placeholder="Nombre de Usuario">
            
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input type="text" matInput placeholder="Nombre de Usuario">
                </mat-form-field> -->

                <input type="password" class="input-style" placeholder="Contraseña">
            
                <!-- <mat-form-field appearance="outline" class="form-field-transform">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput placeholder="Contraseña">
                </mat-form-field> -->
            
                <button class="btn btn-main">
                    <mat-icon>login</mat-icon>
                    Ingresar
                </button>
            
                <div class="flex justify-content-end mt-5">
                    <a routerLink="/auth/new-account" class="account-link">¿No tienes cuenta?</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
