/* Login & Register Page */
mat-card {
    padding: 30px;
    max-width: 600px;
    background-color: #211951dd;
    border: 2px solid #15f5b9a0;
    transform: scale(1.2) !important;
}

mat-card-content {
    width: 350px;
}

mat-card-content span {
    color: #F0F3FF;
    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
    
}

/* Layout Page */
.fixed {
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.title-layout {
    transform: scale(1.2) !important;
    align-items: center;
    color: #F0F3FF;
    cursor: default;
    display: flex;
    margin-bottom: 100px;
    filter: drop-shadow(4px 4px 4px #0000004b);
    font-family: "Fugaz One", sans-serif;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
}

.title-layout p {
    text-transform: uppercase;
    line-height: 0.8;
    text-align: justify;
    margin: 0 0.4rem;
}
.title-layout p small {
    font-size: 1.8rem;
}

.title-layout p small span { text-transform: lowercase; }

.title-layout img {
    height: 4.5rem;
}



