.title-hero-page {
    color: #F0F3FF;
    /* color: #15F5BA; */
    font-size: 1.9rem;
    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
}

.style-searchbox {
    transition: all 0.7s;
}

@media (max-width: 590px) {
    .title-hero-page {
        font-size: 1.7rem;
    }
}
