<div class="p-4">
    <mat-icon class="absolute top-0 right-0 mt-5 mr-5 z-1 cursor-pointer" (click)="onNoClick()">close</mat-icon>
    <h2 mat-dialog-title>¿Estás seguro?</h2>
    <mat-dialog-content>
      <p>Este proceso no es reversible, estás a punto de eliminar a {{ data.superhero }}</p>
    </mat-dialog-content>
    <mat-dialog-actions class="flex justify-content-end flex-wrap">
      <button class="btn btn-light px-3" (click)="onNoClick()">Cancelar</button>
      <span class="p-3"></span>
      <button class="btn btn-secondary px-3" (click)="onNoClick()">Eliminar</button>
    </mat-dialog-actions>
</div>
